*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
    font-family: "Inter", sans-serif;
    
}
                   /* shared style */
     .container{
    width:min(90%, 1060px);
    margin:0 auto;
     }              
body{
    background-color: rgba(0, 0, 0, 1) ;
    color: white;
   /* background: linear-gradient(180.00deg, rgb(10, 8, 8) 0%,rgba(0, 0, 0, 0) 100%); */
}
                               /* navbar */
                          
.nav-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    align-items: center;
}
nav>h2{
    color: #E6533C;
    font-weight: 800;
    font-size: 36px;
    font-style: italic;
}
.right-nav .about-right{
    padding-right: 10px;
}
.right-nav>ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 67px;
    border: 1px solid rgb(71, 70, 70);
    font-size: 18px;
    padding: 2px 5px;
    border-radius: 39px;
}
.home{
    border-radius: 46px;
    background: rgba(230, 83, 60, 1);
    padding: 8px 10px;
}
nav>span{
    display:none;
}
                      /* banner */
   .banner-container{
    display: flex;
    /* max-width: 73%; */
    /* margin: 0 auto; */
    /* min-height: 400px; */
    /* padding: 10px; */
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
   
    
   }
   .banner-text{
    width: 520px;
    /* height: 281px; */
    /* width: 50%; */
     }
    .banner-text>h1{
        font-size: 78px;
    }
    .banner-text>p{
        margin-top: 28px;
        margin-bottom: 28px;
    }
 .banner-image{
     /* width: 50%; */
     /* display: flex; */
     position: relative;
     width: 349px;
   } 
   .banner-image>img{
 width: 100%;
 height: auto;


   }

   
   .container-btn>button{
    width: 200px;
    height: 54px;
    border-radius: 48px;
     
   }              
   .btn-design-one{
    background-color: #E6533C;
    color: #FFFFFF; 
   }
   .btn-design-two{
    background-color: transparent;
    color: white;
    border: 1px solid gray;
   
   }
   .tooltip{
    background-color: rgba(128, 128, 128, 0.397);
    position: absolute;
    right: 0;
    padding: 10px;
    width: 193px;
    height: 98px;
    top:20%;
    right: -10%;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 12px;
   }
   .tooltiptwo{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(128, 128, 128, 0.397);
    position: absolute;
    left:30%;
    top: 60%;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 12px;
    padding: 10px;
    width: 193px;
    height: 98px}
    .ball{
        width: 40px;
        height: 40px;
        background-color: #E6533C;
        border-radius: 50%;
    }
                                /* habbit section */
    .habit-container .habit-text{
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom:58px
    }
    .habit-container .habit-img{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        
        text-align: center;
        width: 100%;
        gap:40px;
        /* justify-content: space-between; */
    }
    .habit-img .img-card{
      max-width:231px;
      width: 100%;
    }
    .habit-container .habit-img img{
        border-radius: 100px;
        margin-bottom: 30px;
    }
    .habit-container .habit-img h3{
        font-size: 18px;
        margin-bottom: 6px;
        font-style: Semi Bold;
        
    }
    .habit-container .habit-img p{
        color: rgba(255, 255, 255, 0.5);
    }
                     /* run sector */
                     
.extra-runs{
    margin-top: 100px;
}

.extra-runs-container{
background-color: rgba(128, 128, 128, 0.25) ;
display: flex;
justify-content:space-between;
align-items: center;
padding: ;
border-radius: 18px;
padding-right: 32px;
}

    /* text-part */
    .run-text{
       max-width: 443px;
       padding-left:54px ;
       padding-top: 41px;
       padding-bottom: 40px;
    }

 .run-text h2{
    font-size: 48px ;
    margin-bottom: 14px;
 }

 .run-text p{
    color: rgba(128, 128, 128, 0.751);
    font-size: 14px;
    margin-bottom: 34px;
    font-weight: 600;

 }
 .run-text .btn-design-three{
    background-color: #E6533C;
    color: #FFFFFF;
    border: none;
    padding: 16px 71px;
    border-radius: 42px;
    cursor: pointer;
 }
/* .run-text h2{
    font-size: 42px;
    margin-bottom: 20px;
}


/* image part */
.run-image{
    width: 366px;
    height: 100%;
    border-radius: 18px;
    overflow: hidden;

}
.run-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

